<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gmail.krauzerfelipe.CorridaManera"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Corrida Manera</name>

  <description>
      Nada aqui esta certo, codigos errados são eternos.
  </description>

  <author href="https://build.phonegap.com" email="krauzerfelipe@gmail.com">
      Felipe Krauzer
  </author>
            <icon src="icon.png" />
</widget>